position: relative;
-webkit-appearance: none;
box-sizing: border-box;
font-size: calc( var(--button-height) / 3 );
font-family: 'Open Sans', sans-serif;
background: var(--color-bg);
height: var(--button-height);
min-width: var(--button-height);
border-radius: calc( var(--button-height) / 2);
border: 0;
font-weight: 800;
text-transform: uppercase;
color: var(--color-text);
text-shadow: 1px 1px var(--color-text-shadow);
cursor: pointer;
margin: 6px 6px;
letter-spacing: .1em;
transition: all 200ms ease;
box-shadow: -1px -1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);